<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Trips 🧳</a>
    <ul>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/categories/new">Add Category</a></li>
      <li><a href="/tours">Tours</a></li>
      <li><a href="/tours/new">Add Tour</a></li>
    </ul>
  </nav>
</header>
