:root {
  --form-label-font-size: 1.2rem;
  --form-input-border-color: var(--color-text-dark);
  --form-input-background-color: var(--color-text-light);
  --form-password-background-color: var(--color-danger-light);
  --form-label-password-background-color: var(--color-danger-dark);
}

.form-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item > label {
  font-size: var(--form-label-font-size);
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: black;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Sedan", serif;
  outline: none;
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  background-color: white;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.form-item .password {
  background-color: var(--form-password-background-color);
}

.form-item > .label-password {
  color: var(--form-label-password-background-color);
}
