:root {
  --image-size-big: 400px;
  --image-size-small: 150px;
}

.img-big {
  height: var(--image-size-big);
  max-width: var(--image-size-big);
}

.img-small {
  width: auto;
  height: var(--image-size-small);
}
