<div class="form-row">
  <div class="form-item">
    <label for="name">Category name: </label>
    <input id="name" type="text" name="name" value="<%= name %>" required />
    <label class="label-password" for="password">Enter password: </label>
    <input
      class="password"
      id="password"
      type="password"
      name="password"
      required
    />
  </div>
</div>
