<h2 class="page-header">Update Tour</h2>
<form method="POST" action="/tours/<%= tour[0].id %>/edit">
  <%- include("_form_fields") %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/tours/<%= tour[0].id %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
