<h2 class="page-header">Update Tour</h2>
<form method="POST" action="/tours/<%= tour.id %>/edit">
  <%- include("_form_fields") %>
  <a href="/tours/<%= tour.id %>">Cancel</a>
  <button class="submit" type="submit">Create</button>
</form>
