<h2 class="page-header">New Tour</h2>
<form method="POST" action="/tours/new">
  <div class="form-row">
    <div class="form-item">
        <label for="title">Tour title: </label>
        <input id="title" type="text" name="title" />
    </div>
    <div class="form-item">
        <label for="categoryId">Category: </label>
        <select name="categoryId" id="categoryId">
        <% categories.forEach(category => { %>
            <option value="<%= category.id %>">
                  <%= category.name %>
            </option>           
        <% }); %>  
        </select> 
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="location">Location: </label>
        <input id="location" type="text" name="location" />
    </div>
    <div class="form-item">
        <label for="imageurl">Image URL: </label>
        <input id="imageurl" type="text" name="imageurl" />
    </div>
</div>
<div class="form-row">
    <div class="form-item">
    <label for="description">Short description: </label>
    <textarea name="description" id="description" /></textarea>
    </div>
</div>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/tours">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</div>  
</form>
